<%= stylesheet_link_tag 'grades' %>

 <ul id="breadcrumbs">
    <li class=""><%= link_to "Home", root_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "Courses", courses_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "#{@course.department} #{@course.number}", course_path(@course), :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "Grades", url_for(:controller => :grades, :action => :index), :class => "blue awesome" %></li>
 </ul>
  
<div id="content_container">	
	<table id="grades_list">
	  <tr>
	  	<th>Item</th>
	  	<th>Pts. Received</th>
	  	<th>/</th>
	  	<th>Pts. Possible</th>
	  	<th></th>
	  </tr>
	
	<% total_pts = 0
	 total_possible = 0 
	%>
	<% @grades.each do |grade| %>
	 <% if grade.item.course == @course %>
	  <% total_pts += grade.points_received
	  	 total_possible += grade.item.points
	  %>
	  <tr>
	    <td><%= grade.item.name %></td>
	    <td><%= format("%.2f", grade.points_received) %></td>
	    <td>/</td>
	    <td><%= grade.item.points %></td>
	    <% if grade.item.points > 0 %>
		  	<td><%= format("%.2f%%", ((grade.points_received)/(grade.item.points))*100) %></td>
	  	<% end %>
	  </tr>
	<% end %>
	<% end %>
	<tr id="grade_totals">
		<td></td>
		<td><%= format("%.2f", total_pts) %></td>
		<td>/</td>
		<td><%= total_possible %></td>
		<% if total_possible > 0 %>
	  		<td><%= format("%.2f%", (total_pts*100)/(total_possible)) %></td>
	  	<% end %>
	</tr>
	</table>
	
	<div id="histogram_container"></div>
</div>