<div class="course-heading">
	<div class="course-shortname"><%= @course.short_title %></div>
	<div class="course-longname"><%= @course.title %></div>
</div>

<div class="nav-bar">
	<a href="<%= url_for(:controller => "courses", :action => "index") %>" class="nav-link">Home</a> > 
	<a href="<%= url_for(:controller => "courses", :action => "show", :id => @course.id) %>" class="nav-link"><%= @course.short_title %></a> > 
	<a href="<%= url_for(:controller => "grades", :action => "index", :id => @course.id) %>" class="nav-link">Grades</a>
</div>

<table>
  <tr>
  </tr>

<% @grades.each do |grade| %>
  <tr>
    <td><%= link_to 'Show', grade %></td>
  </tr>
<% end %>
</table>
