<div id="content">
<h1>New grade</h1>
<% form_for([@course, @grade], :url => create_course_grade_path) do |f| %>
  <%= hidden_field :item, :id %>
  <%= f.error_messages %>
  <p>
	<%= f.label "Item" %><br />
	<%= @item.name %>
  </p>
  <p>
    <%= f.label :letter %><br />
    <%= f.text_field :letter %>
  </p>
  <p>
    <%= f.label "Pts. Received" %><br />
    <%= f.text_field :points_received %> / <%= @item.points %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>