<% content_for :title, "re.factored" %>
<% content_for :stylesheet, "style.css" %>

<script type="text/javascript">
  function defaultInput(id, value, fontStyle) {
    text_input = document.getElementById(id);
    if (text_input.value == "") {
      text_input.value = value;
      document.getElementById(id).onfocus = function () {
        if (this.style.color == "#dddddd")
          this.value = "";
        this.style.fontStyle = "normal";
        this.style.color = "#757575";
      };
      text_input.style.fontStyle = fontStyle;
      text_input.style.color = "#dddddd";
    }
  }
  function after_load() {
    document.getElementById("username_label").style.display = "none";
    document.getElementById("password_label").style.display = "none";
    defaultInput("user_session_username", "Username", "italic");
    defaultInput("user_session_password", "Password", "normal");
  }
  //window.onload = after_load;
</script>

<div id="bg">
  <img src="/images/grad.png" alt="" />
</div>
<div id="main">
  <div id="top">
  <div id ="header">
    <% if @current_user %>
      Welcome, <%= link_to  "#{@current_user.first_name} #{@current_user.last_name}", @current_user %>! Want to <%= link_to "sign out", logout_path %>?
    <% else %>
      Welcome! Want to <%= link_to "register", new_user_path %>?
    <% end %>
  </div>
  <div id="maincol">
    <div id="banner">
      <div style="float: left; background: url('/images/banner_left.png'); margin-left: -4px; width: 4px; height: 103px"> <!--#cfe54f-->
      </div>
      <div style="float: left; background: #E2EF8E; margin-top: -1px; width: 100%; height: 2px"> <!--#cfe54f-->
      </div>
      <div style="float: right; background: url('/images/banner_right.png'); margin-right: -4px; width: 4px; height: 103px"> <!--#cfe54f-->
      </div>
      <% if @current_user %>
        <div id ="college_logo"></div>
      <% else %>
        <div id="banner_right">
          <div id="login_form">
            <!--span id="message" class="stryde">Remember my info, please.</span-->
            <% form_for @user_session do |f| %>
              <span class="input_label"><%= f.label :username, "Username", :id => "username_label" %></span>
              <%= f.text_field :username, :style => "width: 9.5em" %>
              <span class="input_label"><%= f.label :password, "Password", :id => "password_label" %></span>
              <%= f.password_field :password, :style => "width: 9.5em" %>
              <input type="checkbox" />
              <%= f.submit "", :class => "login_button", :onfocus => "this.blur()", :tabindex => 1000 %>
              <a class="login_button_load"></a>
            <% end %>
          </div></div>
      <% end %>
        <div style="float: left; background: url('/images/banner_bottom.png'); margin-top: 10px; width: 100%; height: 12px"> <!--#cfe54f-->
        </div>
    </div>
    <% if @current_user %>
      <div>
        <ul id ="breadcrumbs">
          <li class="breadcrumbs_a"><a href="">Home</a></li>
        </ul>
      </div>
    <% end %>
    <div id="content">
      <% if @current_user %>
      <div id="content_left">
        <div id="courses">
          <span class="section_header">Subscribed Courses</span>
          
            <% @current_user.courses.each do |course| %>
              <% link_to course, :class => "name", :id => "#{course.department} #{course.number}" do %>
                <span class="course"><%=h course.department %> <%=h course.number %></span>
                <span class="stryde course_info"><%=h course.name %></span>
              <% end %>
              <%= link_to 'Edit', edit_course_path(course) %>
              <br />
            <% end %>
          
          <br />
          <%= link_to 'Edit Subscriptions', "edit" %>
          <%= link_to "New course", new_course_path %>
        </div>
        <br />
        <div id="otherstuff">
          <span class="section_header">Latest Posts</span>
        </div>
      </div>
      <% else %>
        <div id="welcome">
          <p class="stryde" id="welcome_title">What are we about?</p>
          <p>
            <strong>re.factored</strong> is a project by students for students. We know
            first-hand about <acronym title="Course Management System">CMS</acronym>s that are
            hard to navigate and highly restricted. Our goal is to give you, the student, a
            user-driven collaborative environment. Because re.factored is meant to be an
            invaluable utility used everyday, we made sure that this site is highly accessible
            and can quickly bring users to what they need. That doesn't mean we need to
            sacrifice looks, though &ndash; we still believe in a modern, clean, and usable design
            that makes school life just a bit easier. &#9632;
          </p>
        </div>
      <% end %>
    </div>

    <% if @current_user %>
    <div id="calendar">
      <a id="calendar_title" href="calendar">Upcoming Events</a>
      <ul>
        <li class="calendar_entry">Oct 11 <a href="item1">CS 169 Midterm 1</a></li>
        <li class="calendar_entry">Oct 11 <a href="item1">CS 188 Midterm 2</a></li>
        <li class="calendar_entry">Oct 12 <a href="item1">CS 188 Project 2</a></li>
      </ul>
    </div>
    <% end %>
  </div>
  </div>
  <div id="footer">
    <span id="footer_links">
      <li><a href="help">Help</a></li><li><a href="about">About</a></li><li><a href="feedback">Feedback</a></li><li><a href="contact">Contact</a></li>
    </span>
  </div>
</div>
