<% content_for :title, @profile ? 'My Profile' : 'Users' %>

<%= render '/layouts/nav', :navigation =>
  @profile ? [['My Profile', @user]] : [['Users', users_path]] %>

<div id="content">
  <h1><%=h @user.first_name %> <%=h @user.last_name %></h1>
  <p>
    <strong>E-mail:</strong> <%=h @user.email %>
  </p>
  <%= link_to 'Posts', user_posts_path(@user) %>
  <p>
    <%= link_to 'Edit my information', edit_user_path(@user) if @profile %>
  </p>
</div>