<% content_for :title, @profile ? 'My Profile' : 'Users' %>

<%= render '/layouts/nav', :navigation =>
  @profile ? [['My Profile', @user]] : [['Users', users_path]] %>

<div id="content">
  <h1><%=h @user.first_name %> <%=h @user.last_name %></h1>
  <strong>Subscribed Courses</strong>
  <p>
    <% @user.courses.each do |course| %>
      <%= link_to course.abbr, course %> (<%=h course.name %>)<br />
    <% end %>
  </p>
  <%= link_to 'Posts', user_posts_path(@user) %>
  <p>
    <%= link_to 'Edit my information', edit_user_path(@user) if @profile %>
  </p>
</div>