<%= stylesheet_link_tag 'courses' %>
<% content_for :title, @course.abbr %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path],
  ["#{@course.dept} #{@course.number}", @course],
  ["Ratings", course_ratings_path(@course)]] %>

<div id="content">
  <div id="content_left">
    <h1>My ratings</h1>
<%if @current_user.rated_course(@course)%>
<table>
  <tr>
    <th>Easiness</th>
    <th>Interest</th>
    <th>Work load</th>
    <th>User</th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%=h rating.easiness %></td>
    <td><%=h rating.interest %></td>
    <td><%=h rating.work_load %></td>
    <td><%=h rating.user.name %></td>
    <td><%= link_to 'Show', [@course, rating] %></td>
	<%if @current_user.id==rating.user_id%>
    <td><%= link_to 'Edit', edit_course_rating_path(@course, rating) %></td>
    <td><%= link_to 'Remove', [@course,rating], :confirm => 'Are you sure?', :method => :delete %></td>
	<%end%>
  </tr>
<% end %>
</table>



<br />
<%else%>
<%= link_to 'New rating', new_course_rating_path(@course) %>
<%end%>
<h1>Average ratings</h1>
<p>
  <b>Course:</b>
  <%=h @course.full_name %>
</p>

<p>
  <b>Easiness: Was it a free "A"? (1 being hard as hell, 5 being a walk in the park,)</b>
  </br>
  <%=h @course.e_rating %>
</p>

<p>
  <b>Interesting?: Do you dream of going to class, or dream while you're in class? (1 being bored to death, 5 being absolutely fascinating)</b>
  <br/>
  <%=h @course.i_rating %>
</p>

<p>
  <b>Work load: Do you have a life? (1 being no I don't, 5 being a life free of school work)</b>
  </br>
  <%=h @course.w_rating %>
</p>
	
  </div>
</div>

<div id="calendar">
  <a id="calendar_title" href="calendar">Course Calendar</a>
  <ul>
    <% @course.items.each do |item| %>
    <li class="calendar_entry">
      <%=h item.cal_date %>
      <%= link_to item.name, [@course, item] %>
    </li>
    <% end %>
  </ul>
</div>