<%= stylesheet_link_tag 'courses' %>
<% content_for :title, @course.abbr %>

<!-- All this is the content between header and footer -->
<div>
  <ul id="breadcrumbs">
    <li class=""><%= link_to "Home", root_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "Courses", courses_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "#{@course.department} #{@course.number}", course_path(@course), :class => "blue awesome" %></li>
    <li class="breadcrumbs_semester">Fall '10
      <img alt="&9662;" src="/images/flat_triangle.gif" />
    </li>
  </ul>
</div>

<div id="content">
  <div id="content_left">
<h1>New rating</h1>

<% form_for([@course, @rating]) do |f| %>
  <%= f.error_messages %>

  <p>
   <b>Easiness: Was it a free "A"? (1 being hard as hell, 5 being a walk in the park,)</b>
    <br />
    <%= f.radio_button(:easiness, 1)%> WTF? (1)</br>
	<%= f.radio_button(:easiness, 2)%> prerequisite: IQ must be over 180 (2)</br>
	<%= f.radio_button(:easiness, 3)%> eh...can't complain (3)</br>
	<%= f.radio_button(:easiness, 4)%> GPA booster (4)</br>
	<%= f.radio_button(:easiness, 5)%> I swear this is elementary school material (5)</br>
  </p>
  <p>
    <b>Interesting?: Do you dream of going to class, or dream while you're in class? (1 being bored to death, 5 being absolutely fascinating)</b>
    <br />
    <%= f.radio_button(:interest, 1)%> World's greatest treatement for Insomnia... (1)</br>
	<%= f.radio_button(:interest, 2)%> Zzz...Zzz... (2)</br>
	<%= f.radio_button(:interest, 3)%> eh...can't complain (3)</br>
	<%= f.radio_button(:interest, 4)%> I took the course 3 times!!! (4)</br>
	<%= f.radio_button(:interest, 5)%> I cried each time class was over (5)</br>
  </p>
  <p>
    <b>Work load: Do you have a life? (1 being no I don't, 5 being a life free of school work)</b>
    <br />
    <%= f.radio_button(:work_load, 1)%> my therapist says I'm scarred for life (1)</br>
	<%= f.radio_button(:work_load, 2)%> sleep is for losers (2)</br>
	<%= f.radio_button(:work_load, 3)%> eh...can't complain (3)</br>
	<%= f.radio_button(:work_load, 4)%> for lazy students only!!! (4)</br>
	<%= f.radio_button(:work_load, 5)%> a semester long vacation (5)</br>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', course_ratings_path(@course) %>
  </div>
</div>

<div id="calendar">
  <a id="calendar_title" href="calendar">Course Calendar</a>
  <ul>
    <li class="calendar_entry">Oct 11 <a href="item1">Midterm 1</a></li>
    <li class="calendar_entry">Oct 11 <a href="item1">Midterm 2</a></li>
    <li class="calendar_entry">Oct 12 <a href="item1">Project Milestone 3</a></li>
  </ul>
  <div class="course-body-container">
    <div class="course-blurbs-container">
      <% for blurb in @course.blurbs do %>
        <% if blurb.position == "center" %>
          <div class="blurb">
            <h2><%= blurb.title %></h2>
            <% if blurb.as_html %>
              <%= blurb.text %>
            <% else %>
              <%= h blurb.text %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="course-announcements-container">
      <% for blurb in @course.blurbs do %>
        <% if blurb.position == "right" %>
          <div class="announcement">
            <a class="announcement-link" href="#"><h2><%= blurb.title %></h2></a>
            <% if blurb.as_html %>
              <%= blurb.text %>
            <% else %>
              <%=h blurb.text %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

