<%= stylesheet_link_tag 'courses' %>
<% content_for :title, @course.abbr %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path],
  ["#{@course.dept} #{@course.number}", @course],
  ["Ratings", course_ratings_path(@course)]] %>


<div id="content">
  <div id="content_left">
    <h1>Rating by <%=h @rating.user.name %></h1>
<p>
  <b>Course:</b>
  <%=h @rating.course.full_name %>
</p>

<p>
  <b>Easiness: Was it a free "A"? (1 being hard as hell, 5 being a walk in the park)</b>
  <br />
  <%=h Rating.to_s_e(@rating.easiness) %>
</p>

<p>
  <b>Interesting?: Do you dream of going to class, or dream while you're in class? (1 being bored to death, 5 being absolutely fascinating)</b>
  <br />
  <%=h Rating.to_s_i(@rating.interest)%>
</p>

<p>
  <b>Work load: Do you have a life? (1 being no I don't, 5 being a life free of school work)</b>
  <br />
  <%=h Rating.to_s_w(@rating.work_load )%>
</p>


<%= link_to 'Edit', edit_course_rating_path(@course, @rating) %> 
<%= link_to 'Back', course_ratings_path(@course) %>
  </div>
</div>

<div id="calendar">
  <a id="calendar_title" href="calendar">Course Calendar</a>
  <ul>
    <% @course.items.each do |item| %>
    <li class="calendar_entry">
      <%=h item.cal_date %>
      <%= link_to item.name, [@course, item] %>
    </li>
    <% end %>
  </ul>
</div>
