<% content_for :title, "re.factored" %>

<div id="main">
  <div id ="header">
    <% if @current_user %>
      <%= link_to  "#{@current_user.first_name} #{@current_user.last_name}", @current_user %>
      <%= link_to "Sign out", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %>
    <% end %>
  </div>
  <div id="maincol">
    <div id="banner"></div>


    <div id="login_form">
      <% form_for @user_session do |f| %>
        <%= f.label :username, "Username", :class => "input_label" %>
        <%= f.text_field :username, :style => "width: 98%; margin-left: 0" %>
        <%= f.label :password, "Password", :class => "input_label" %>
        <%= f.password_field :password, :style => "width: 98%; margin-left: 0" %>
        <%= f.label "remember", "Remember me", :style => "vertical-align: middle", :class => "input_label" %>
        <input id="remember" type="checkbox" style="margin: 0 0 0 10px; display: inline; vertical-align: middle"/><br />
        <%= f.submit "", :class => "login_button", :onfocus => "this.blur()", :tabindex => 1000 %>
      <% end %>
    </div>
  </div>
</div>
