<% content_for :title, "#{@course.abbr} | #{@category_s}" %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path],
  ["#{@course.dept} #{@course.number}", @course],
  [@category_s, course_items_path(@course, :category => @category)]] %>

<div id="content">
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Due date</th>
    <th>Points</th>
    <th>Weight</th>
    <th>Description</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.name %></td>
    <td><%=h item.category %></td>
    <td><%=h item.due_date %></td>
    <td><%=h item.points %></td>
    <td><%=h item.weight %></td>
    <td><%=h item.description %></td>
    <td><%= link_to 'Show', [@course, item] %></td>
    <td><%= link_to 'Discuss', course_item_posts_path(@course, item) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_course_item_path(@course) %>
</div>