<div>
  <ul id ="breadcrumbs">
    <li class="breadcrumbs_a"><%= link_to "Home", root_path %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class="breadcrumbs_a"><%= link_to "Courses", courses_path %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class="breadcrumbs_a"><%= link_to "#{@course.dept} #{@course.number}", course_path(@course) %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class="breadcrumbs_a"><%= link_to @category_s, course_items_path(@course, :category => @category) %></li>
    <li class="breadcrumbs_semester">Fall '10
      <img alt="&9662;" src="/images/flat_triangle.gif" />
    </li>
  </ul>
</div>
<div id="content">
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Due date</th>
    <th>Points</th>
    <th>Weight</th>
    <th>Description</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.name %></td>
    <td><%=h item.category %></td>
    <td><%=h item.due_date %></td>
    <td><%=h item.points %></td>
    <td><%=h item.weight %></td>
    <td><%=h item.description %></td>
    <td><%= link_to 'Show', [@course, item] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_course_item_path(@course) %>
</div>