<div class="course-heading">
	<div class="course-shortname"><%= @course.short_title %></div>
	<div class="course-longname"><%= @course.title %></div>
</div>

<div class="nav-bar">
	<a href="<%= url_for(:controller => "courses", :action => "index") %>" class="nav-link">Home</a> > 
	<a href="<%= url_for(:controller => "courses", :action => "show", :id => @course.id) %>" class="nav-link"><%= @course.short_title %></a> > 
	<%= link_to "Assignments/Projects", course_items_path(@course), :class => "nav-link" %>
</div>


<table>
  <tr>
    <th>Type</th>
    <th>Due date</th>
    <th>Points</th>
    <th>Weight</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.type %></td>
    <td><%=h item.due_date %></td>
    <td><%=h item.points %></td>
    <td><%=h item.weight %></td>
    <td><%= link_to 'Show', [@course, item] %></td>
  </tr>
<% end %>
</table>

<br />