<p>
  <b>Name:</b>
  <%=h @item.name %>
</p>

<p>
  <b>Category:</b>
  <%=h @item.category %>
</p>

<p>
  <b>Due date:</b>
  <%=h @item.due_date %>
</p>

<p>
  <b>Points:</b>
  <%=h @item.points %>
</p>

<p>
  <b>Weight:</b>
  <%=h @item.weight %>
</p>

<p>
  <b>Description:</b>
  <%=h @item.description %>
</p>

<%= link_to 'Edit', edit_course_item_path(@course, @item) %> |
<%= link_to 'Back', course_items_path(@course) %>