<% content_for :title, "#{@course.abbr} | Edit" %>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path],
  ["#{@course.dept} #{@course.number}", @course]] %>

<div id="content">
  <h1>Editing course</h1>

  <% form_for(@course) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name, 'Name', :class => 'form_label' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :department_id, 'Department', :class => 'form_label' %>
      <%= f.select :department_id, @departments %>
    </p>
    <p>
      <%= f.label :number, 'Number', :class => 'form_label' %>
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :term, 'Term', :class => 'form_label' %>
      <%= f.select :term, ['Fall', 'Winter', 'Spring', 'Summer'] %>
      <%= f.select :year, @years %>
    </p>
    <p id="day_options">
      <%= f.label :days, 'Days', :class => 'form_label' %>
      <%= check_box_tag 'm', 'M', @days[0] %>
      <%= label_tag 'M', 'Monday' %>
      <%= check_box_tag 't', 'T', @days[1] %>
      <%= label_tag 'Tu', 'Tuesday' %>
      <%= check_box_tag 'w', 'W', @days[2] %>
      <%= label_tag 'W', 'Wednesday' %>
      <%= check_box_tag 'r', 'R', @days[3] %>
      <%= label_tag 'Th', 'Thursday' %>
      <%= check_box_tag 'f', 'F', @days[4] %>
      <%= label_tag 'F', 'Friday' %>
      <%= check_box_tag 's', 'S', @days[5] %>
      <%= label_tag 'Sa', 'Saturday' %>
      <%= check_box_tag 'u', 'U', @days[6] %>
      <%= label_tag 'Su', 'Sunday' %>
    </p>
    <p>
      <%= f.label :description, {}, :class => 'form_label', :style => 'vertical-align: top' %>
      <%= f.text_area :description, :rows => 8, :cols => 50 %>
    </p>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>

  <%= link_to 'Show', @course %> |
  <%= link_to 'Back', courses_path %>
</div>