<% content_for :title, "Courses | New" %>

<%= javascript_include_tag :defaults %>
<noscript>
  <style type="text/css">
    #department_name, #department_name_auto_complete {
      display: none;
    }
  </style>
</noscript>

<%= render '/layouts/nav', :navigation =>
  [["Courses", courses_path]] %>

<div id="content">
  <h1>New course</h1>

  <% form_for(@course) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name, 'Name', :class => 'form_label' %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :department_id, 'Department', :class => 'form_label' %>
      <noscript>
        <%= f.select :department_id, @departments %>
      </noscript>
      <%= text_field_with_auto_complete :department, :name, {}, {:method => :get} %>       
</p>
    <p>
      <%= f.label :number, 'Number', :class => 'form_label' %>
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :term, 'Term', :class => 'form_label' %>
      <%= f.select :term, ['Winter', 'Spring', 'Summer', 'Fall'] %>
      <%= f.select :year, @years %>
    </p>
    <p id="day_options">
      <%= f.label :days, 'Days', :class => 'form_label' %>
      <%= check_box_tag 'M', 'M', true %>
      <%= label_tag 'M', 'Monday' %>
      <%= check_box_tag 'Tu', 'T', true %>
      <%= label_tag 'Tu', 'Tuesday' %>
      <%= check_box_tag 'W', 'W', true %>
      <%= label_tag 'W', 'Wednesday' %>
      <%= check_box_tag 'Th', 'T', true %>
      <%= label_tag 'Th', 'Thursday' %>
      <%= check_box_tag 'F', 'F', true %>
      <%= label_tag 'F', 'Friday' %>
      <%= check_box_tag 'Sa', 'S' %>
      <%= label_tag 'Sa', 'Saturday' %>
      <%= check_box_tag 'Su', 'S' %>
      <%= label_tag 'Su', 'Sunday' %>
    </p>
    <p>
      <%= f.label :description, {}, :class => 'form_label', :style => 'vertical-align: top' %>
      <%= f.text_area :description, :rows => 8, :cols => 50 %>
    </p>
    <p>
      <%= f.submit 'Create' %>
    </p>
  <% end %>

  <%= link_to 'Back', courses_path %>
</div>