<%= stylesheet_link_tag 'courses' %>
<!-- All this is the content between header and footer -->
<div>
  <ul class ="breadcrumbs">
    <li class=""><%= link_to "Home", root_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "Courses", courses_path, :class => "blue awesome" %></li>
    <li class="breadcrumbs_arrow">&#9654;</li>
    <li class=""><%= link_to "#{@course.department} #{@course.number}", course_path(@course), :class => "blue awesome" %></li>
    <li class="breadcrumbs_semester">Fall '10
      <img alt="&9662;" src="/images/flat_triangle.gif" />
    </li>
  </ul>
</div>

<div id="content">
  <div id="content_left">
    <div>
      <%= link_to "Assignments, Projects, etc.", course_items_path(@course, :category => "assignment project"), :class => "course_action" %>
      <span class="stryde course_action_comment">Time to work!</span>
    </div>
    <div>
      <%= link_to "Exams, Quizzes, etc.", course_items_path(@course, :category => "exam quiz"), :class => "course_action" %>
      <span class="stryde course_action_comment">Study buddy?</span>
    </div>
    <div>
      <%= link_to "All Course Items", course_items_path(@course), :class => "course_action" %>
      <span class="stryde course_action_comment">All that other stuff.</span>
    </div>
    <div>
      <a class="course_action" href="<%= url_for(:controller => "grades", :action => "index", :id => @course.id) %>">Grades</a>
      <span class="stryde course_action_comment">Ignorance is bliss.</span>
    </div>
    <div>
      <a class="course_action" href="<%= url_for(:controller => "grades", :action => "index", :id => @course.id) %>">Course Info</a>
      <span class="stryde course_action_comment">What's this all about?</span>
    </div>
    <div>
      <a class="course_action" href="<%= url_for(:controller => "grades", :action => "index", :id => @course.id) %>">Semester Wrap-up</a>
      <span class="stryde course_action_comment">Is school over yet?</span>
    </div>
  </div>
</div>

<div id="calendar">
  <a id="calendar_title" href="calendar">Course Calendar</a>
  <ul>
    <li class="calendar_entry">Oct 11 <a href="item1">Midterm 1</a></li>
    <li class="calendar_entry">Oct 11 <a href="item1">Midterm 2</a></li>
    <li class="calendar_entry">Oct 12 <a href="item1">Project Milestone 3</a></li>
  </ul>
  <div class="course-body-container">
    <div class="course-blurbs-container">
      <% for blurb in @course.blurbs do %>
        <% if blurb.position == "center" %>
          <div class="blurb">
            <h2><%= blurb.title %></h2>
            <% if blurb.as_html %>
              <%= blurb.text %>
            <% else %>
              <%= h blurb.text %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="course-announcements-container">
      <% for blurb in @course.blurbs do %>
        <% if blurb.position == "right" %>
          <div class="announcement">
            <a class="announcement-link" href="#"><h2><%= blurb.title %></h2></a>
            <% if blurb.as_html %>
              <%= blurb.text %>
            <% else %>
              <%=h blurb.text %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

