<% post.replies.each do |reply| %>
  <div class='post_reply'>
    <div class="post_header">
      <% if @current_user == reply.user %>
        <%= link_to "Edit", edit_course_item_post_path(@course, @item, reply) %> | 
      <% else %>
        <%= link_to "Reply", course_item_post_reply_path(@course, @item, reply) %> | 
        <!--%= link_to "Private Message", "blah" %> |-->
      <% end %>
      <%= link_to "Permalink", course_item_post_path(@course, @item, reply) %>
    </div>
    <div class="post_body">
      <%= reply.sanitize %>
    </div>
    <div class="post_reply_info">
      <%= link_to reply.user.name, reply.user %><br />
      <time><%=h reply.created_at_day_s %></time>
      <time><%=h reply.created_at_time_s %></time>
    </div>
    <div class="post_footer">
      Tags: <%=h reply.tags %>
    </div>
    <%= render 'replies', :post => reply %>
  </div>
<% end %>