<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
  <b>Commented at:</b>
  <%=h @post.commented_at %>
</p>

<p>
  <b>Tags:</b>
  <%=h @post.tags %>
</p>


<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>