<p id="post_page_title">
  <%=h @post.title %>
</p>

<p id="post_page_body">
  <%= sanitize @post.body.gsub("\n", "<br />") %>
</p>

<p>
  <b>Commented at:</b>
  <%=h @post.commented_at %>
</p>

<p>
  <b>Tags:</b>
  <%=h @post.tags %>
</p>
REPLIES
<% @post.replies.each do |post| %>
  <p>
  <b>Title:</b>
  <%=h post.title %><br />
  <%=h post.body %><br />
  <%=h post.user.name %>
  </p>
<% end %>

<!--%= link_to 'Edit', edit_course_item_post_path(@course, @item, @post) %--> |
<%= link_to 'Back', course_item_posts_path(@course, @item) %>