<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h yield(:title) %></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
  <script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
  <script type="text/javascript" src="/javascripts/St_Ryde_Regular_400.font.js"></script>
  <script type="text/javascript">
    Cufon.replace(".course_info");
  </script>
  <style type="text/css">
	body {
		width:85%;
	}
	
	.course-shortname {
		font-size:36px;
		color:#636363;
		float:left;
	}
	
	.course-longname {
		font-size:36px;
		color:#999;
		float:left;
		margin-left:18px;
	}
	
	.course-heading {
		overflow:auto;
		margin-top:16px;
		margin-bottom:8px;
	}
	
	.nav-bar {
		margin-bottom:24px;
	}
	
	.nav-link {
		color:#555;
		text-decoration:none;
		cursor:pointer;
	}
	
	.nav-link:hover {
		color:#555;
		text-decoration:underline;
	}
	
	.nav-link:visited {
		color:#555;
	}
	
	.course-links-container {
		overflow:auto;
		color:#555;
	}
	
	.course-link {
		float:left;
		margin-right:18px;
	}
	
	.course-link {
		color:#555;
		text-decoration:none;
	}
	
	.course-link:hover {
		text-decoration:underline;
	}
	
	.course-link:visited {
		color:#555;
	}
	
	.course-link-sep {
		float:left;
		margin-right:18px;
	}
	
	.course-body-container {
		overflow:auto;
	}
	
	.blurb {
		color:#595959;
		margin-bottom:24px;
	}
	
	.blurb>h2 {
		font-weight:normal;
		color:#555;
	}
	
	.announcement {
		color:#888;
	}
	
	.announcement>a>h2 {
		font-weight:normal;
		color:#636363;
	}
	
	.announcement-link {
		text-decoration:none;
		font-weight:normal;
	}
	
	.announcement-link:hover {
		text-decoration:underline;
	}
	
	.announcement-link:visited {
		text-decoration:none;
	}
	
	.course-blurbs-container {
		float:left;
		width:75%;
		margin-right:40px;
	}
	
	.course-announcements-container {
		float:left;
		width:22%;
	}
	
	.course-body-container {
		margin-top:24px;
	}
	
	
  </style>
</head>
<body>
    <div id="banner">
      <% if @current_user %>
        <div id ="college_logo"></div>
      <% end %>
    </div>
<%= yield %>
<script type="text/javascript">
  Cufon.now(); // to avoid font rendering delay in IE
</script>
<p style="color: green"><%= notice %></p>
</body>
</html>
